<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FORM 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid  class="auth-form">
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/register']" expand="block" color="primary">Register</ion-button>
        <br class="line">
        <span class="divider on-line">or</span>
        <span class="already">Already a user</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
